.site-content{
  background: $white;

  a{
    color: $dark-blue;
    text-decoration: none;
  }

  .content-area{  }
}

article{
  @include outer-container(90%);

  @include media($medium-screen) {
    @include outer-container(80%);
  }

  @include media($large-screen) {
    @include outer-container(65%);
  }
}

.widget-area{
  float: right;
  margin: 4.5em 0 1em 2em;
  padding: 2em;
  width: 40%;
  background: $white;
  border: 1px solid $gray;
  border-top: 15px solid $green;

  h4{
    margin: 0 0 1em 0;
  }

  input[type=submit]{
    background: $green!important;
    width: 100%!important;
    padding: 1em!important;
    color: $white!important;
  }
}

.entry-content{
  padding: 1em 0;

  @include media($large-screen) {
    padding: 3em 0;
  }
}

.single-hero{

  h1{
    font-weight: 700;
    color: $white;
    text-align: center;
    margin: 0;
    font-size: 3.5em;
  }

  a{
    color: $white;
    text-decoration: none;
  }

  a:hover{
    color: $light-blue;
  }

}

.single-hero-wrap{
  position: relative;
  padding: 12em 0 10em 0;
  width: 56%;
  display: block;
  margin: 0 auto;
}

.post-meta{
  color: $gray;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9em;

  a{
    color: $white;
  }
}

.entry-footer{
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 2em;
  border: 1px solid $gray;
  border-radius: 5px;

  span{
    color: $light-blue;
    display: block;
    font-weight: 700;
    font-size: 1.3em;
  }

  p{
    font-size: 1em;
  }

  img{
    float: left;
    clear: left;
    margin-right: 1em;
    border-radius: 70px;
    margin-top: 4px;
  }
}

.social-share{
  // position: fixed;
  // left: 90px;
  // top: 500px;

  a{
    display: inline-block;
  }

  img{
    max-width: 40px;
  }
}


.site-main-home{
  padding: 2em;
  background: $light-gray;

  @include media($large-screen) {
    padding: 2em 5em 5em 5em;
  }
}

.site-main-home{

  .grid-sizer,
  .grid-item { width: 100%; }
  .grid-item--width2 { width: 64%; }

  @include media($large-screen) {
    .grid-sizer,
    .grid-item { width: 47%; }
  }

  @include media($grid-screen) {
    .grid-sizer,
    .grid-item { width: 31%; }
  }

  .home-box{
    margin-bottom: 2em;
    background: $white;
    border: 1px solid $gray;

    span{
      color: $white;
      font-size: 2em;
      font-weight: 700;
      padding: 1em;
      display: block;
      text-align: left;
    }

    .home-box-image{
    }

    .home-box-title{
      padding: 2em 2em 1em 2em;
      width: 100%;
      font-weight: 700;
    }

    a{
      color: $light-blue;
      font-size: 1.5em;
      font-weight: 700;
    }

    .moretag{
      display: block;
      font-size: 1em;
      color: $light-blue;
      padding-top: 1em;
    }

    p{
      font-size: 1em;
    }
  }

}


.single-featured{
  padding: 2em 0;
  background: $light-gray;

  @include media($medium-screen) {
    padding: 4em 0;
  }

  h1{
    text-align: center;
    color: $dark-blue;
  }

  .single-featured-wrap{
    @include outer-container(90%);

    @include media($medium-screen) {
      @include outer-container(70%);
    }


    .single-box{
      margin-bottom: 2em;
      background: $white;
      border: 1px solid $gray;
      width: 30%;
      float: left;
      margin: 0.9em;

      .home-box-image{
      }

      .home-box-title{
        padding: 1em 2em 1em 2em;
        width: 100%;
        font-weight: 700;
      }

      a{
        color: $light-blue;
        font-size: 1.5em;
        font-weight: 700;
      }

      .moretag{
        display: block;
        font-size: 1em;
        color: $light-blue;
        padding-top: 1em;
      }

      p{
        font-size: 1em;
      }
    }
  }
}
