.site-footer{
  background: #2A3B47;
  padding: 2em;
  color: $white;
  text-align: center;
  @include outer-container(100%);

  .site-info{
    @include span-columns(10);
    @include shift(2);
  }

  p{
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    color: $white;
  }

  .bottom-logo img{
    width: 100px;
  }
}
