.site-footer{
  background: #2A3B47;
  padding: 2em;
  color: $white;
  text-align: center;
  @include outer-container(100%);

  p{
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    color: $white;
  }

  .bottom-logo img{
    width: 120px;
  }
}
