body{
  background: $white;
  font-family: "proxima-nova",sans-serif;
}

.site{
    @include outer-container(100%);
}

p{
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 400;
  color: $dark-gray;
}

h1{
  font-weight: 100;
  font-size: 3em;
  color: $green;
}

h2{
  font-weight: 100;
  font-size: 2.5em;
  color: $dark-blue;
}

h3{
  font-weight: 100;
  font-size: 2em;
  color: $light-blue;
}

h4{
  font-weight: 100;
  font-size: 1.7em;
  color: $green;
}

::selection {
  background: $green; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $green; /* Gecko Browsers */
  color: $white;
}


ol{

  li{
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 400;
    color: $dark-gray;
    padding-bottom: 1em;
  }

}

ul{

  li{
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 400;
    color: $dark-gray;
  }

}
















.site-header{
  background: $light-gray;

  @include media($medium-screen) {
    @include span-columns(3, block-collapse);
    position: fixed;
    height: 100vh;
  }

  @include media($large-screen) {
    @include span-columns(2, block-collapse);
  }

  .site-branding{
    padding: 1em;
    width: 37%;

    @include media($medium-screen) {
      width: 100%;
    }

    @include media($large-screen) {
      padding: 2em
    }
  }

}

.email-signup{
  padding: 2em;
}
